name: website

on:
  push:
    branches:
      - master

permissions:
  contents: write

# This job installs dependencies, builds the website, and pushes it to `gh-pages`
jobs:
  deploy-website:
    name: Deploy website
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: "adopt"
          java-version: "15"

      - uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: wrapper

      - name: Setup Gradle Cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Javadocs Build
        run: |
          ./gradlew javadoc -Ph3UseDocker=false

      # Deploy the book's HTML to gh-pages branch
      - name: GitHub Pages action
        uses: peaceiris/actions-gh-pages@v3.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/docs/javadoc/
