name: website

on:
  push:
    branches:
      - master

# This job installs dependencies, builds the website, and pushes it to `gh-pages`
jobs:
  deploy-website:
    name: Deploy website
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: "adopt"
          java-version: "15"

      - uses: actions/cache@v4
        id: maven-cache
        with:
          path: ~/.m2/
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Javadocs Build
        run: |
          mvn -B -V clean site -Dh3.use.docker=false

      # Deploy the book's HTML to gh-pages branch
      - name: GitHub Pages action
        uses: peaceiris/actions-gh-pages@v3.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: target/site/apidocs/
